.lightbox-gallery img {
    width: 150px; /* Ajustez la taille des miniatures */
    height: auto; /* Conservez le ratio d'aspect */
    margin: 5px; /* Espacement entre les images */
    display: inline-block; /* Positionnement côte-à-côte */
    cursor: pointer; /* Curseur interactif */
}

.lightbox-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espacement entre les images */
}
.lightbox-gallery img {
    flex: 1 1 auto;
    max-width: 150px;
}

blockquote {
    font-size: 1.5em; /* Taille de la citation */
    font-style: italic; /* Style italique pour le texte */
    color: #555; /* Couleur du texte */
    border-left: 4px solid #ccc; /* Barre verticale décorative */
    padding-left: 1em; /* Espacement avec la barre */
    position: relative; /* Nécessaire pour placer les guillemets */
}

